@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/montserrat-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/montserrat-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/montserrat-700.woff2') format('woff2');
}

/* =======================
1. VARIABLES & RESET
======================= */

:root {
    --black: #000;
    --white: #fff;
    --cyan: #0BBAA8;
    --hover: #8f8f8f;
    --divider: #B2B2B2;
    --red: red;
    --cyan2: rgba(11, 186, 168, 0.5);
    --cyan3: #036258;

    --z-base: 1;
    --z-low: 10;
    --z-mid: 100;
    --z-high: 1000;
    --z-overlay: 10000;
    --z-overlay-close: 100000;
}


*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}


html { font-size: 12px; }
body { font-family: "Montserrat", sans-serif; }

/* =======================
2. BASE STYLES
======================= */


h1, h2, h3 {
    margin: 0;
}

h1, h2 {
    font-size: 2rem;
}

h3, .features-text-ctr h2 {
    font-size: 1.5rem;
}

footer h3 {
    font-size: 1.125rem;
}

h1, h3, .features-text-ctr h2 {
    font-weight: 700;
}

h2, footer h3 {
    font-weight: 600;
}

.sub-h2-small {
    font-size: 1rem;
    font-weight: 400;
}

p, .sub-h2-small {
    line-height: 1.5;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

input::placeholder, textarea::placeholder {
    font-family: inherit;
    font-size: 1rem;
    color: var(--hover);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--cyan3);
}

a:hover { 
    color: var(--hover);
}

/* Utilities */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.caps {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.white-text {
    color: var(--white);
}

.black-bg {
    background-color: var(--black);
}

.white-bg {
    background-color: var(--white);
}

.margin-bottom-zero {
    margin-bottom: 0 !important;
}

.mt-25 {
    margin-top: 2.5rem;
}

.divider-bottom {
    border-bottom: 1px solid var(--divider);
}

.divider-top {
    border-top: 1px solid var(--divider);
}

button {
    border: none;
}

button:focus { 
    outline: none;
    border: none;
}

button:hover {
    outline: none;
    border: none;
}

/* =======================
3. LAYOUT
======================= */

.section-container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1200px;
}

.section-gap {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* =======================
4. COMPONENTS
======================= */

/* Buttons */

button {
    font-size: 1em;
    font-family: inherit;
}

.lm-button {
    text-decoration: none;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 1em 0;
    font-weight: 600;
    border-radius: 0.5em;
}

.button-trans-black-border {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}

.button-trans-white-border {
    background-color: transparent;
    border: 1px solid var(--white);
}

.button-trans:hover, .button-trans:focus {
    color: var(--cyan);
    border-color: var(--cyan);
}

.lm-button.white-text.black-bg:hover, button.lm-button.white-text.black-bg:hover {
    background-color: var(--cyan);
    color: white;
    cursor: pointer;
}

.lm-button.white-text.black-bg:active {
    background-color: var(--hover);
}

.button-trans:active {
    color: var(--hover);
    border-color: var(--hover);
}

/* Navigation */

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: var(--z-high);
    background-color: var(--white);
}

header nav, .arrow-container {
    height: 5rem;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav svg:hover path {
    fill: var(--cyan);
    cursor: pointer;
}

nav svg:active path {
    fill: var(--hover);
    cursor: pointer;
}

.arrow-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -1em;
}

.navigation-links {
    list-style: none;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    gap: 2em;
    width: 14em;
    padding: 0 1.5rem;
    z-index: var(--z-overlay);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--black);
}

.menu-btn, .modal-close-btn {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
}

.menu-icon, .modal-close-icon {
   width: 2.5rem;
}

.nav-text:active, nav svg:active path {
    color: var(--hover);
}

.navigation:hover, nav button:hover svg path, .portfolio-modal button:hover svg path {
    color: var(--cyan);
    fill: var(--cyan);
    cursor: pointer;
}

/* Forms */

input[type=text]:focus, textarea:focus {
   box-shadow: 0 0 0 1px var(--black);
   border: 1px solid var(--black);
   outline: none; 
}

textarea {
    resize: none;
}

input, textarea {
    font-family: inherit;
    width: 100%;
    padding: 1rem 1.375rem;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    font-weight: 500;
    display: block;
}

.form-error {
    border-color: var(--red);
}

.error-ctr {
    color: var(--red);
    margin-top: 1.25rem;
    display: flex;
    gap: .25rem;
    align-items: center;
}

.error-ctr p {
    margin: 0;
}

.error-ctr i {
    width: 1.25rem;
}

.terms-ctr {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.terms {
    accent-color: var(--cyan);
    height: 1.25rem;
    width: 1.25rem;
}

.checkbox-ctr {
    display: flex;
    align-items: top;
    justify-content: flex-start;
}

.error-show {
    display: flex;
}

.error-hide {
    display: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--white) inset !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white) inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 9999s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-ctr > label, .privacy-terms-ctr > h2, .privacy-terms-ctr > h3 {
    margin-bottom: 1.25rem;
}

.input-ctr {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* Modals & Carousels */

.portfolio-modal {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: var(--z-overlay);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.carousel-btn-ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1.5rem;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-low);
}

.carousel-item {
    transition: transform .6s ease-in-out;
}

.portfolio-modal .carousel.slide {
    position: relative;
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 0;
    right: 0;
    z-index: var(--z-overlay-close);
}

.scroll-arrow {
    width: 2.5em;
}

.carousel-btn-ctr .carousel-control-prev {
   justify-content: flex-start; 
}

.carousel-btn-ctr .carousel-control-next {
   justify-content: flex-end; 
}

.portfolio-modal > .carousel {
width: 100%;
/* 3:2 ratio */
  max-width: calc(100vh * 1.5);
  aspect-ratio: 3 / 2;
  margin: 0 auto;
  flex-shrink: 1; /* allow it to shrink */
  display: flex;
  flex-direction: column;
  justify-content: center;
    aspect-ratio: 3 / 2;
}

.customer-ctr {
    height: auto;
}

.portfolio-modal .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* Before & After Slider */

.before-and-after-ctr {
    position: relative;
    overflow: hidden;
    --position: 50%;
    width: 100%;
}

.before-and-after-image-ctr {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    max-height: calc(100vh - 9rem);
    height: auto;
}

.before-after-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.image-before {
    clip-path: inset(0 calc(100% - var(--position)) 0 0);
    z-index: var(--z-base);
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    opacity: 0;
    /* for firefox */
    width: 100%;
    height: 100%;
}

.slider-line {
    position: absolute;
    inset: 0;
    width: .125rem;
    height: 100%;
    background-color: var(--white);
    z-index: var(--z-low);
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.slider-btn {
    position: absolute;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: var(--z-mid);
}

.slider-img {
    border-radius: 50%;
    border: .125rem solid var(--white);
    width: 2rem;
    height: auto;
}

/* Accordions */

#accordionPanelsStayOpenExample {
    color: var(--black) !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;   /* your custom background color */
    color: var(--black);             /* your custom text color */
}

.accordion-button:focus,
.accordion-button:focus-visible,
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(13%) hue-rotate(191deg) brightness(92%) contrast(85%);
}

/* =======================
5. SECTIONS
======================= */

.logo {
    width: 12.5rem;
}

.hero-section .carousel .carousel-item {
  height: 66.667vw;
  max-height: calc(100vh - 6rem);
}

.hero-section .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.service-icon {
    width: 5rem;
}

.services-link-ctr {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-ctr {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.67rem;
}

.features-ctr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.features-text-ctr {
    display: flex;
    flex-direction: column;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-container h2 {
    display: block;
    order: 1;
}

.about-section-container a {
    order: 4;
}

.paragraph-text-ctr {
    order: 3;
    margin: 1.5rem 0;
}

.about-img, .about-page-img {
    order: 2;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.before-and-after-section p {
    max-width: 720px;
    margin: 0.625rem auto 0 auto;
}

.customer-ctr button{
    display: none;
}

.star-rating-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .333rem;
    margin-bottom: 0.625rem;
}

.star-rating-ctr > svg {
    width: 1.25rem;
}

.reg-head {
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.review-comment {
    font-size: 0.833rem;
    margin-bottom: 1.25rem;
}

.trust-brand-ctr img {
    height: 4.167rem;
}

.trust-brand-ctr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
    flex-grow: 1;
}

.trust-section h2, .cta-section h2{
    margin-bottom: 0.625rem;
}

.trust-section p {
    margin-bottom: 2rem;
}

.cta-section {
    background: url("https://ik.imagekit.io/francoislouw/assets01/desktop-1.jpg?updatedAt=1757412241635");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cta-section p {
    margin-bottom: 1.25rem;
}

.cta-section a {
    display: inline-block;
}

footer {
    /* is display block needed? */
    display: block;
    position: relative;
    overflow: hidden;
}

.footer-ctr {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.footer-social {
    display: flex;
    gap: 14px;
}

.footer-social > svg, .header-social > svg {
    width: 20px;
}

footer nav {
    display: block;
}

footer p, .footer-bottom a {
    font-size: 0.8125rem;
}

.footer-right {
    width: 100%;
    text-align: center;
}

.footer-left li, .footer-left h3 {
    margin: 0 0 1.667rem 0;
}

.footer-right h3 {
    margin: 0 0 0.8333rem 0;
}

.footer-left {
    display: flex;
    justify-content: space-between;
}

.footer-right p {
    margin: 0 0 1.667rem 0;
}

.footer-right a {
    margin: 0;
}

.footer-left ul, .footer-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li > a {
    color: var(--black);
}

footer li > a:hover {
    color: var(--cyan);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom > nav ul {
    display: flex;
    gap: 1.25rem;
}

.about-section-container a.lm-button {
  clear: both;
  display: block;
}

.portfolio-ctr  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.portfolio-ctr iframe {
    aspect-ratio: 16 / 9;
}

.portfolio-img, .portfolio iframe {
    width: 100%;
}

.portfolio-img:hover {
    cursor: zoom-in
}

.pricing-ctr {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.privacy-terms-ctr {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.privacy-terms-ctr > ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.pricing-text-ctr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.pricing-text-header {
    margin-bottom: 0.625rem;
}

.pricing-text-left {
    max-width: 80%;
}

.paragraph-top-margin {
    margin: 1.25rem 0 0 0;
}

.pricing-header {
    margin-bottom: 1.25rem;
    font-weight: 400;
}

/* =======================
6. RESPONSIVE
======================= */


@media only screen and (min-width: 600px) {
    .hero-section .carousel .carousel-item {
        height: 56.333vw;
    }

    .about-section-container {
        display: block;
    }
    .about-img {
        width: 25vw;
        max-width: 220px;
        float: left;
        margin: 0 1.667rem 0.5rem 0;
    }

    .about-page-img {
        width: 50vw;
        float: left;
        margin: 0 1.667rem 0.5rem 0;
    }

    .about-section-container h2 {
        text-align: left !important;
    }

    .customer-ctr button {
    display: flex;
    }

    .portfolio-ctr {
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .hero-section .carousel .carousel-item {
        height: 52.73vw;
    }
}

@media only screen and (min-width: 992px) {
    .navigation-links {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    position: static;
    flex-direction: row;
    transform: none !important;
    transition: none !important;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    background-color: transparent;
    }

    .nav-text {
        color: var(--black);
    }

    .menu-icon {
        display: none;
    }

    .hero-section .carousel .carousel-item {
        height: 36.492vw;
    }

    .feature-ctr {
        width: calc((100vw - 5.75rem) / 3);
        justify-content: flex-start;
    }

    .features-ctr {
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .features-text-ctr {
        gap: 0.625rem;
    }

    .services-link-ctr {
        flex-direction: row;
        justify-content: center;
    }

    .cta-section .lm-button {
        width: 332px;
    }

    .footer-right {
        width: 294px;
        text-align: left;
    }

    .footer-right a {
        text-align: center;
    }

    .footer-ctr {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-left {
        width: calc(100vw - 294px - 3rem)
    }

    .footer-left-inner {
        width: calc((100vw - 294px - 3rem) / 4);
    }

    .before-and-after-ctr {
        padding: 0 1.5rem;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-ctr.photo {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1240px) {

    .section-container, .top-container, .before-and-after-ctr {
        padding-left: 0;
        padding-right: 0;
    }
    .feature-ctr {
        width: calc((1200px - 2.75rem) / 3);
    }

    .about-page-img {
        max-width: 480px;
    }

    .footer-left {
        width: 906px;
    }

    .footer-left-inner {
        width: calc((1200px - 294px) / 4);
    }

}
